<div class="container">
  <h1>Your favorites car</h1>

  <% if @favorites.empty? %>
    <p>Looks like you don't have any favorites yet!</p>
  <% else %>
    <% @favorites.each do |car| %>
      <div class="card-car">
        <%= cl_image_tag car.photo.key %>
        <div class="card-card-infos">
          <h2><%= car.model %></h2>
          <%= link_to toggle_favorite_car_path(car), remote: true, method: :post do %>
            <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(car) %>">
              <i class="fas fa-heart"></i>
            </div>
          <% end %>
          <p><%= car.description %></p>
          <%= link_to 'See more', car_path(car)%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
