<div class="container">
  <h1> Welcome <%= current_user.username %></h1>
  <h3>Your bookings</h3>
  <ul>
    <% @bookings.each do |booking| %>
    <li>
      <%= link_to "#{booking.car.model}", car_booking_path(booking.car, booking) %> <%= booking.start_date %> <%= booking.end_date  %>
      <%= link_to '', car_booking_path(booking.car, booking),
                    method: :delete,
                    data: {confirm: 'Are you sure?'},
                    class: 'far fa-trash-alt'
                  %>
      <%= link_to '', edit_car_booking_path(booking.car, booking), class: 'fas fa-edit'  %>
    </li>
    <% end %>
  </ul>
</div>
