<div class="container">
  <h1>Cars</h1>
  <p> Here are all the cars available</p>
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-car">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-card-infos">
          <h2><%= car.model %></h2>
          <p><%= car.description %></p>
          <%= link_to toggle_favorite_car_path(car), remote: true, method: :post do %>
            <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(car) %>" data-id = "<%= car.id %>">
              <i class="fas fa-heart"></i>
            </div>
         <% end %>
          <%= link_to 'See more', car_path(car)%>
        </div>
      </div>
    <% end %>
  </div>
</div>
